export(count_identifiers)
export(crossref_search)
export(crossref_search_free)
export(md_getrecord)
export(md_identify)
export(md_listidentifiers)
export(md_listmetadataformats)
export(md_listrecords)
export(md_listsets)
export(oaipmh_providers)
import(RJSONIO)
import(XML)
import(httr)
import(plyr)
