S3method(dc_data,datacite)
export(cambridge_search)
export(count_identifiers)
export(crossref_citation)
export(crossref_openurl)
export(crossref_r)
export(crossref_search)
export(crossref_search_free)
export(dc_data)
export(dc_search)
export(dpla_basic)
export(dpla_by_fields)
export(dpla_plot)
export(is.datacite)
export(load_providers)
export(mar_search)
export(md_getrecord)
export(md_identify)
export(md_listidentifiers)
export(md_listmetadataformats)
export(md_listrecords)
export(md_listsets)
export(short_doi)
export(update_providers)
import(RCurl)
import(RJSONIO)
import(XML)
import(ggplot2)
import(httr)
import(lubridate)
import(plyr)
import(reshape)
importFrom(plyr,compact)
